<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&amp;subset=cyrillic">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css?ver=5.0.3' type='text/css'
        media='all' />
    <link rel='stylesheet' id='art_net_theme-material-icons-css'
        href='https://fonts.googleapis.com/icon?family=Material+Icons&#038;ver=5.0.3' type='text/css' media='all' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}">
</head>

<body>
    <div id="shop" class="shop_container">
        <div class="shop_qr_code_container">
            <h1>Отсканируйте QR-код для совершения оплаты</h1>
            <img src="{{ url_for('static', filename='img/qr.png') }}" alt="QR Code">
            <script>
                  $(document).ready(function() {
                      setInterval(function() {
                          $.get('/is_user_scanned', function(data) {
                            if (data.status == 200) {
                              window.location.href = '/payment_waiting'
                            }
                          });
                      }, 1000);
                  });
             </script>
        </div>
    </div>

</body>

</html>